[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
username_wallet = "BWEK6JuhkArseF8WhofrDSxK7wr9oDmRDvmbvALxsGML"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "./AUTczkwSxUN1hWqGbxRTS2EmaXjowNjZyZf9k9utGS1q.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
